[Desktop Entry]
Encoding=UTF-8
Name=Screenkey
Comment=Screencast your keys
Version=1.0
Exec=/home/pabluk/dev/projects/screenkey/screenkey
Terminal=false
Icon=/usr/share/icons/gnome/scalable/apps/preferences-desktop-keyboard-shortcuts.svg
Type=Application
Categories=GNOME;Utility
