[Desktop Entry]
Version=1.0
Type=Application
Name=Screenkey
Comment=Screencast your keys
Exec=screenkey
Icon=preferences-desktop-keyboard-shortcuts
Categories=Utility;
